<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>create_event</title>

	<meta name="description" content="Source code generated using layoutit.com">
	<meta name="author" content="LayoutIt!">

	<link href="../public/event_css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/event_css/style.css" rel="stylesheet">

</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form action="/new_event" method="post">
					<div class="form-group">
						<label for="event_name">
							Event name
						</label>
						<input class="form-control" name="event_name" id="event_name" required>
					</div>
					<div class="form-group">
						<label for="event_date">
							Event date
						</label>
						<input type="date" class="form-control" name="event_date" id="event_date" required>
					</div>
					<div class="form-group">
						<label for="registration_date">
							Registration deadline (Optional)
						</label>
						<input type="date" class="form-control" name="registration_date" id="registration_date"
							value="1970-01-01">
					</div>
					<div class="form-group">
						<label for="event_time">
							Event Time
						</label>
						<input type="time" class="form-control" name="event_time" id="event_time" required>
					</div>
					<div class="form-group">
						<label for="event_type">
							Event type
						</label>
						<select name="event_type" id="event_type" class="form-control" required>
							<option value="online">online</option>
							<option value="offline">offline</option>
							<option value="hybrid">hybrid</option>
						</select>
					</div>
					<div class="form-group">
						<label for="event_desc">
							Event description
						</label>
						<textarea class="form-control" name="event_desc" id="event_desc" required></textarea>
					</div>
					<div class="form-group">
						<label for="event_fee">
							Event Fee
						</label>
						<input type="number" min="0" max="10000" class="form-control" name="event_fee" id="event_fee"
							required>
					</div>
					<div class="form-group">
						<label for="event_scope">
							Event type
						</label>
						<select name="event_scope" id="event_scope" class="form-control" required>
							<option value="private">private</option>
							<option value="public" selected>public</option>
						</select>
					</div>
					<div class="form-group" id="req">
						<label>
							Add Requirements
						</label>
						<button type="button" id="req_add" >+</button>
						<br>
					</div>
					<div class="form-group" id="contact">
						<label>
							Add Contacts
						</label>
						<button type="button" id="con_add" >+</button>
						<br>
					</div>
					<div class="form-group">
						<label for="exampleInputFile">
							upload a brochure(if any)
						</label>
						<input type="file" class="form-control-file" id="exampleInputFile">
					</div>
					<button type="submit" class="btn btn-primary">
						Submit
					</button>
				</form>
			</div>
		</div>
	</div>

	<script src="../public/js/jquery.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	<script src="../public/js/scripts.js"></script>;

	<script>
	
		let num_req=1;
		let con_req=1;
		document.getElementById("req_add").addEventListener("click",()=>{
			
			
			if (num_req > 10) {
				alert("Maximum of 10 descriptions allowed");
				return false;
			}
			let req = document.getElementById('req');
			let isadd=1;
			if(num_req>1)
			{
				for(let i=1;i<num_req;i++)
				{
				let check=document.getElementById(`req-${i}`).value;
				if(!check)
				{
					alert("requirements cant be empty")
					isadd=0;
					break;
				}
				}
			}
			if(isadd===1)
			{
				
				const labelnode=document.createElement("label")
				labelnode.setAttribute("for",`req-${num_req}`)
				const textnode=document.createTextNode(`Enter requirement ${num_req}`)
				labelnode.append(textnode)
				req.append(labelnode)
			const inputnode=document.createElement("input")
			inputnode.setAttribute("type","text")
			inputnode.setAttribute("class","form-control")
			inputnode.setAttribute("id",`req-${num_req}`)
			inputnode.setAttribute("name","req_control")
			
			req.append(inputnode);
			num_req++;
			}
		})
		 

		document.getElementById("con_add").addEventListener("click",()=>{
			
		
				if (con_req > 4) {
					alert("Maximum of 4 contacts allowed");
					return false;
				}
				for(let i=1;i<con_req;i++)
				{
					let check=document.getElementById(`con-${i}`).value;
				if(!check)
				{
					alert("contact cant be empty")
					return false;
				}
				}
				var req = document.getElementById('contact');
				const labelnode=document.createElement("label")
				labelnode.setAttribute("for",`con-${con_req}`)
				const textnode=document.createTextNode(`Enter contact ${con_req}`)
				labelnode.append(textnode)
				req.append(labelnode)
			    const inputnode=document.createElement("input")
			inputnode.setAttribute("type","text")
			inputnode.setAttribute("class","form-control")
			inputnode.setAttribute("id",`con-${con_req}`)
			inputnode.setAttribute("name","con_control")
			inputnode.setAttribute("pattern",'[0-9]{10}')
			req.append(inputnode);
				con_req++;
			
			
		})
		 
	
	</script>
</body>

</html>